.Game_button {
  display: flex;
  padding: 0.5rem 4rem;
  background-color: #daa520;
  color: black;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 900;
  box-shadow: 1px 5px 10px black;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1024px) {
  .Game_button {
    padding: 0.5rem 4rem;
    font-size: 2rem;
  }
}

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.7;
  background-image: url("./assets/images/Animarena_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #daa520;
}

nav {
  display: flex;
  justify-content: center;
}
