.Game_button {
  display: flex;
  padding: 10px 10px;
  margin: 5px;
  background-color: #daa520;
  color: black;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 1px 5px 10px black;
  width: 300px;
  height: 80px;
}

nav {
  display: flex;
  justify-content: center;
}
