* {
  box-sizing: border-box;
  margin: 0;
}
.Game_button {
  display: flex;
  padding: 0.5rem 4rem;
  background-color: #daa520;
  color: black;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 900;
  box-shadow: 1px 5px 10px black;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1024px) {
  .Game_button {
    padding: 0.5rem 4rem;
    font-size: 2rem;
  }
}

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.7;
  background-image: url("./assets/images/Animarena_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #daa520;
}

nav {
  display: flex;
  justify-content: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.rules-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

/* Bouton des règles du jeu */
.game-rules-button-home,
.game-rules-button-game {
  background-color: #d2b48c;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 5px 10px black;
}
.game-rules-button-home {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  padding: 1.5rem 4rem;
}
.game-rules-button-game {
  position: fixed;
  bottom: 3%;
  right: 3%;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
}
.game-rules-button-game:hover {
  background-color: #daa520;
  transform: scale(1.1);
}
@media screen and (max-width: 1024px) {
  .game-rules-button-home,
  .game-rules-button-game {
    font-size: 1.5rem;
  }
}
