#headerHP {
  text-align: center;
  width: 100%;
}
#logoImgContainerHP {
  height: 200px;
  img {
    height: 80%;
  }
}
@media screen and (max-width: 1024px) {
  #headerHP {
    height: 10vh;
  }
  #logoImgContainerH {
    img {
      width: 100%;
    }
  }
}
