#gamePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.encyclopedia-button {
  position: fixed;
  top: 3%;
  right: 17%;
  background-color: #d2b48c;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 5px 10px black;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
}

.encyclopedia-button:hover {
  background-color: #daa520;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  #gamePage {
    display: flex;
    flex-direction: column;
  }
}
