.buttonDeckCard {
  background-image: url(../../assets/images/carte_verso.png);
  background-size: cover;
  background-position: top;
  border-radius: 5px;
  height: 130px;
  width: 90px;
  object-fit: contain;
  border: none;
  padding: 0;
}
.deckCard {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url(../../assets/images/Card_Placeholder.png);
  background-size: 90px 130px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .buttonDeckCard {
    width: 90%;
    height: 90%;
  }
  .deckCard {
    height: 100%;
    gap: 5px;
  }
}
