.buttonDeckCard {
  background-image: url(../../assets/images/carte_verso.png);
  background-size: cover;
  background-position: top;
  border-radius: 5px;
  height: 150px;
  width: 104px;
  object-fit: contain;
  border: none;
}
.deckCard {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .buttonDeckCard {
    width: 90%;
    height: 90%;
  }
  .deckCard {
    height: 100%;
    gap: 5px;
  }
}
