header {
  text-align: left;
  width: 100%;
}
#logoImgContainer {
  height: 100px;
  img {
    height: 80%;
  }
}
#selected_char {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  h1 {
    background-color: aliceblue;
    padding: 10px 10px;
    width: 400px;
    min-height: 75px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 5px 10px black;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 10vh;
  }
  #logoImgContainer {
    img {
      width: 100%;
    }
  }
}
