.DisplayCard {
  background-color: #d2b48c;
  border-radius: 15px;
  border: 18px solid white;
  height: 600px;
  width: 415px;
  object-fit: contain;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.formDisabled {
  display: none;
  pointer-events: none;
}
.formDisabledLabel {
  pointer-events: none;
}
.CPU {
  display: none;
  pointer-events: none;
}
.CPUlabel {
  pointer-events: none;
}

#charValidatorButton {
  position: fixed;
  top: 40%;
  left: 30%;
  transform: translate(-50% -50%);
  padding: 0;
  background-color: #daa520;
  border: none;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 1px 5px 10px black;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s;
  transition: transform 0.2s ease, background-color 0.3s;
  animation: bounce 2s infinite;
}
#charValidatorButton:hover {
  font-weight: 900;
  box-shadow: 1px 5px 5px black;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animalPicture {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.animalPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.DisplayCard p {
  font-size: 1rem;
  padding: 0 2rem;
  color: black;
  text-align: left;
  padding-left: 10px;
  font-weight: 700;
  height: 30%;
  padding-top: 5px;
}
.DisplayCard h3 {
  font-size: 1.5rem;
  text-align: left;
  padding-left: 10px;
}
fieldset {
  list-style-type: none;
  color: black;
  text-align: left;
  padding-left: 10px;
}
label {
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-left: 15px;
}
fieldset label:hover {
  cursor: pointer;
}

/* ///////////////Responsive//////////////////// */
@media screen and (max-width: 1024px) {
  .nom_femelle {
    display: none;
  }
  .DisplayCard {
    width: 50%;
    height: 40%;
    border: 0.4rem solid white;
    border-radius: 10px;
  }
  .DisplayCard p {
    font-size: 0.5rem;
    padding: 0;
    margin-bottom: 10px;
    color: black;
  }
  .DisplayCard h3 {
    font-size: 0.8rem;
  }
  .DisplayCard ul li {
    list-style-type: none;
    color: black;
    font-size: 0.5rem;
    padding: 0;
  }
  .DisplayCard ul {
    padding: 0;
    text-align: left;
    padding-left: 10px;
  }
}
